body {
    background-color: black;
    font: 100% Courier New;
}
* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: large;
    color: #84c754;
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: #84c754;
}
article {
    text-align: center;
    border: 2px dotted #a8d5ba;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 1.6;
    color: #84c754;
}
img {
    border-radius: 50%;
    margin-bottom: 15px;
}

@media (min-width: 600px) {
    article {
        text-align: left;
        -webkit-flex-direction: unset;
        flex-direction: unset;
    }
}