body {
    background-color: black;
    font: 100% Courier New;
}
* {
    color: #84c754;
    text-align: center;
    box-sizing: border-box;
}
header {
    font-size: large
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
article {
    background-color: #f0f0f0; 
    border: 2px dotted #a8d5ba;
    padding: 30px;
    margin: 20px 0;
    line-height: 1.6;
}

@media (max-width: 600px) {
        section {
            -webkit-flex-direction: column;
            flex-direction: column;
        }
}